{% extends "doctor_base.html" %}
{% block content %}

<div class="container">
  <br>
  <h2 class="text-center" style="color: #2e86de;">Add Report For Patient</h2>
  <div class="row">
    <div class="col-md-6 offset-3">
      <form class="" method="POST" class="form-froup">
        {{form.hidden_tag()}}
        <div class="form-group">
          {{form.user_id.label(class='form-group')}}
          {{form.user_id(class='form-control')}}
        </div>
        <div class="form-group">
          {{form.title.label(class='form-group')}}
          {{form.title(class='form-control')}}
        </div>
        <div class="form-group">
          {{form.text.label(class='form-group')}}
          {{form.text(class='form-control')}}
        </div>
        <div class="form-group">
          {{form.picture.label(class='form-group')}}
          {{form.picture(class='form-control')}}
        </div>
        <div class="form-group">
          {{form.submit(class='btn btn-outline-info')}}
        </div>
      </form>
    </div>
  </div>

</div>



{% endblock %}
